body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  color: #333333;
}

label {
  text-align: left;
  font-weight: bold;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

button {
  background-color: #0e7785;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #1e4e8c;
}
